name: Build and Deploy to Github Pages

on:
  push:
    branches:
      - master  # Here source code branch is `master`, it could be other branch
  pull_request:
    branches:
      - master
  schedule:
    - cron:  '0 * * * *'

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Use GitHub Actions' cache to cache dependencies on servers
      - uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      # Use GitHub Deploy Action to build and deploy to Github
      - uses: kkew3/jekyll-deploy-action@issue/ruby-3.1.3-break-on-archlinux
        with:
          provider: 'github'
          token: ${{ secrets.GITHUB_TOKEN }} # It's your Personal Access Token(PAT)
          repository: ''             # Default is current repository
          branch: 'gh-pages'         # Default is gh-pages for github provider
          jekyll_src: './'           # Default is root directory
          jekyll_cfg: '_config.yml'  # Default is _config.yml
          jekyll_baseurl: ''         # Default is according to _config.yml
          bundler_ver: ''            # Default is compatible bundler version (~>2.5.0)
          ruby_ver: '3.2.0'
          cname: ''                  # Default is to not use a cname
          actor: 'github-actions[bot]' # Default is the GITHUB_ACTOR
          pre_build_commands: |
            # Installing additional dependencies (Arch Linux)
            git config --global http.version HTTP/1.1
            git config --global http.postBuffer 157286400
